@model NTS.ApplicationServices.ViewModels.Users.UserVM

@{
    ViewData["Title"] = "Create user";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RoleId, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <select class="form-control" id="RoleId" name="RoleId">
                @foreach (var role in Model.Roles)
                {
                    <option id="role-@role.Id" value="@role.Id" @(role.Name == "User" ? "selected" : string.Empty)>@role.Name</option>
                }
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            @Html.ValidationSummary(true, "", new { @class = "text-danger validation-summary-error-messages" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i>
                <span>Save</span>
            </button>
        </div>
    </div>
}

<div>
    <a href="/Users/Index">
        <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
        <span>Users</span>
    </a>
</div>

<environment include="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
</environment>
