@model NTS.ApplicationServices.ViewModels.Users.UserVM

<h2>Are you sure you want to delete the record?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="@Model.FirstName"></label>
        </dt>

        <dd>
            @Model.FirstName
        </dd>

        <dt>
            <label asp-for="@Model.LastName"></label>
        </dt>

        <dd>
            @Model.LastName
        </dd>

        <dt>
            <label asp-for="@Model.UserName"></label>
        </dt>

        <dd>
            @Model.UserName
        </dd>
    </dl>
    <form asp-controller="Users" asp-action="Delete" method="post" role="form">
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="/Users/Index">
                <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
                <span>Users</span>
            </a> |
            <button type="submit" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                <span>Delete</span>
            </button>
        </div>
    </form>
</div>
