@model NTS.ApplicationServices.ViewModels.Users.UserVM

@{
    ViewData["Title"] = "Edit user";
}

<h2>@ViewData["Title"]</h2>

@if (!Model.IsActive)
{
    <hr />
    <div class="alert alert-info">You can not edit an inactive track.</div>
}

<form asp-controller="Users" asp-action="Edit" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()

    <hr />
    <input asp-for="@Model.Id" type="hidden" />

    <fieldset @(!Model.IsActive ? "disabled" : string.Empty)>
        <div class="form-group">
            <label asp-for="@Model.FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.LastName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.UserName" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="@Model.UserName" class="form-control" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Email" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.RoleId" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <select asp-for="@Model.RoleId" class="form-control">
                    @foreach (var role in Model.Roles)
                    {
                        <!option id="role-@role.Id" value="@role.Id" @(role.Id == Model.RoleId ? "selected" : string.Empty)>@role.Name</!option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>

<div>
    <a href="/Users/Index">
        <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
        <span>Users</span>
    </a>
</div>

<environment include="Development">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
</environment>
